<ng-container *ngIf="{ loading: loading$ | async, selected } as data"
  ><form
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <nb-card>
      <nb-card-header>
        <div class="d-flex align-items-center">
          <ng-container *ngIf="data.selected; else titleAddTpl">
            <nb-icon
              class="skip mr-2"
              icon="edit-2-outline"
              pack="eva"
              status="primary"
              [options]="{ animation: { type: 'pulse' } }"
            ></nb-icon>
            Edit
          </ng-container>
          <ng-template #titleAddTpl>
            <nb-icon
              class="skip mr-2"
              icon="plus-circle-outline"
              pack="eva"
              status="primary"
              [options]="{ animation: { type: 'pulse' } }"
            ></nb-icon>
            Add new
          </ng-template>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label
                    for="leftEarValue"
                    class="label"
                    >Left ear value</label
                  >
                  <input
                    type="number"
                    nbInput
                    fullWidth
                    id="leftEarValue"
                    placeholder="Left ear value"
                    formControlName="leftEarValue"
                    [status]="isValid(leftEarValueControl) ? 'danger' : 'basic'"
                  />
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label
                    for="leftEarDeviceDuration"
                    class="label"
                    >Left ear device duration</label
                  >
                  <nb-radio-group
                    id="leftEarDeviceDuration"
                    fullWidth
                    formControlName="leftEarDeviceDuration"
                    name="leftEarDeviceDuration"
                    [status]="isValid(leftEarDeviceDurationControl) ? 'danger' : 'basic'"
                  >
                    <nb-radio
                      *ngFor="let item of duration$ | async"
                      [value]="item"
                      >{{item}}</nb-radio
                    >
                  </nb-radio-group>
                </div>
              </div>

              <div
                *ngIf="leftEarDeviceDurationControl.value !== durationTpl.none"
                class="col-12"
              >
                <div class="form-group">
                  <label
                    for="currentLeftEarDeviceName"
                    class="label"
                    >Current left ear device name</label
                  >
                  <input
                    type="text"
                    nbInput
                    fullWidth
                    id="currentLeftEarDeviceName"
                    placeholder="Device name"
                    formControlName="currentLeftEarDeviceName"
                    [status]="isValid(currentLeftEarDeviceNameControl) ? 'danger' : 'basic'"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label
                    for="rightEarValue"
                    class="label"
                    >Right ear value</label
                  >
                  <input
                    type="number"
                    nbInput
                    fullWidth
                    id="rightEarValue"
                    placeholder="Right ear value"
                    formControlName="rightEarValue"
                    [status]="isValid(rightEarValueControl) ? 'danger' : 'basic'"
                  />
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label
                    for="rightEarDeviceDuration"
                    class="label"
                    >Right ear device duration</label
                  >
                  <nb-radio-group
                    id="rightEarDeviceDuration"
                    fullWidth
                    name="rightEarDeviceDuration`"
                    formControlName="rightEarDeviceDuration"
                    [status]="isValid(rightEarDeviceDurationControl) ? 'danger' : 'basic'"
                  >
                    <nb-radio
                      *ngFor="let item of duration$ | async"
                      [value]="item"
                      >{{item}}</nb-radio
                    >
                  </nb-radio-group>
                </div>
              </div>

              <div
                *ngIf="rightEarDeviceDurationControl.value !== durationTpl.none"
                class="col-12"
              >
                <div class="form-group">
                  <label
                    for="currentRightEarDeviceName"
                    class="label"
                    >Current right ear device name</label
                  >
                  <input
                    type="text"
                    nbInput
                    fullWidth
                    id="currentRightEarDeviceName"
                    placeholder="Device name"
                    formControlName="currentRightEarDeviceName"
                    [status]="isValid(currentRightEarDeviceNameControl) ? 'danger' : 'basic'"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label
                for="questionnaire"
                class="label"
                >Questionnaire</label
              >
              <input
                type="number"
                nbInput
                fullWidth
                id="questionnaire"
                placeholder="Questionnaire"
                formControlName="questionnaire"
                [status]="isValid(questionnaireControl) ? 'danger' : 'basic'"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label
                for="comment"
                class="label"
                >Comment</label
              >
              <textarea
                fullWidth
                type="text"
                nbInput
                fullWidth
                id="comment"
                placeholder="Comment"
                formControlName="comment"
                [status]="isValid(commentControl) ? 'danger' : 'basic'"
              ></textarea>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="d-flex justify-content-end">
          <button
            class="mr-2"
            type="button"
            nbButton
            status="basic"
            (click)="close()"
          >
            Cancel
          </button>

          <button
            type="submit"
            nbButton
            hero
            status="primary"
            [nbSpinner]="data.loading!"
            nbSpinnerStatus="success"
            nbSpinnerMessage=""
          >
            Save
          </button>
        </div>
      </nb-card-footer>
    </nb-card>
  </form>
</ng-container>
