<ng-container *ngIf="{ loading: loading$ | async, selected } as data"
  ><form
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <nb-card>
      <nb-card-header>
        <div class="d-flex align-items-center">
          <ng-container *ngIf="data.selected; else titleAddTpl">
            <nb-icon
              class="skip mr-2"
              icon="edit-2-outline"
              pack="eva"
              status="primary"
              [options]="{ animation: { type: 'pulse' } }"
            ></nb-icon>
            Edit
          </ng-container>
          <ng-template #titleAddTpl>
            <nb-icon
              class="skip mr-2"
              icon="plus-circle-outline"
              pack="eva"
              status="primary"
              [options]="{ animation: { type: 'pulse' } }"
            ></nb-icon>
            Add new
          </ng-template>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label
                for="name"
                class="label"
                >Name</label
              >
              <input
                type="text"
                nbInput
                fullWidth
                id="name"
                placeholder="Name"
                formControlName="name"
                [status]="isValid(nameControl) ? 'danger' : 'basic'"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label
                for="brand"
                class="label"
                >Brand</label
              >
              <nb-select
                id="brand"
                fullWidth
                placeholder="Brand"
                formControlName="brand"
                [status]="isValid(brandControl) ? 'danger' : 'basic'"
              >
                <nb-option value="1">brand 1</nb-option>
                <nb-option value="2">brand 2</nb-option>
                <nb-option value="3">brand 3</nb-option>
                <nb-option value="4">brand 4</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label
                for="type"
                class="label"
                >Type</label
              >
              <nb-select
                id="type"
                fullWidth
                placeholder="Type"
                formControlName="type"
                [status]="isValid(typeControl) ? 'danger' : 'basic'"
              >
                <nb-option value="1">type 1</nb-option>
                <nb-option value="2">type 2</nb-option>
                <nb-option value="3">type 3</nb-option>
                <nb-option value="4">type 4</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label
                for="quantity"
                class="label"
                >Quantity</label
              >
              <input
                type="text"
                nbInput
                fullWidth
                id="quantity"
                placeholder="Quantity"
                formControlName="quantity"
                [status]="isValid(quantityControl) ? 'danger' : 'basic'"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label
                for="price"
                class="label"
                >Price</label
              >
              <input
                type="text"
                nbInput
                fullWidth
                id="price"
                placeholder="Price"
                formControlName="price"
                [status]="isValid(priceControl) ? 'danger' : 'basic'"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label
                for="shopId"
                class="label"
                >Shop</label
              >
              <nb-select
                id="shopId"
                fullWidth
                placeholder="Shop"
                formControlName="shopId"
                [status]="isValid(shopIdControl) ? 'danger' : 'basic'"
              >
                <nb-option
                  *ngFor="let shop of (shops$ | async)"
                  [value]="shop.id"
                  >{{shop.name}}</nb-option
                >
              </nb-select>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="d-flex justify-content-end">
          <button
            class="mr-2"
            type="button"
            nbButton
            status="basic"
            (click)="close()"
          >
            Cancel
          </button>

          <button
            type="submit"
            nbButton
            hero
            status="primary"
            [nbSpinner]="data.loading!"
            nbSpinnerStatus="success"
            nbSpinnerMessage=""
          >
            Save
          </button>
        </div>
      </nb-card-footer>
    </nb-card>
  </form>
</ng-container>
