<nb-card *ngIf="entities$ | async">
  <nb-card-header>Actions</nb-card-header>
  <nb-card-body>
    <ngx-custom-actions
      [selectedRows]="selectedRows"
      (handleAddAction)="addDialog()"
      (handleEditAction)="editDialog(selectedRows[0])"
      (handleReloadAction)="refresh()"
      (handleRemoveAction)="openRemoveDialog(selectedRows[0].id)"
    >
    </ngx-custom-actions>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    <div class="row align-items-center">
      <div class="col-8">
        <span *ngIf="selectedRows.length; else allRows">
          {{ selectedRows.length }} selected shops
        </span>
        <ng-template #allRows>{{ source.count() }} shops</ng-template>
      </div>
      <div class="col-4"></div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (rowSelect)="handleSelectedRow($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
