<app-table
  [settings]="settings"
  [entity]="entity"
  [title]="'customers'"
  [dialogTemplateRef]="dialogTemplateRef"
  [showAction]="{
    showProcess: true,
    showOrder: false,
  }"
  [showCharts]="true"
  [filterBy]="['status', 'contactNote', 'gender']"
>
  @if (showWarningMessage()) {
    <nb-alert
      message
      outline="danger"
      [closable]="true"
      (close)="showWarningMessage.set(false)"
    >
      <span>
        All
        <strong class="text-danger">{{ countWithNewStatus$ | async }}</strong>
        customers are in the <strong class="text-danger">new</strong> status!
        {{ warningMessage() }}
      </span>
    </nb-alert>
  }
</app-table>
