<form [formGroup]="customerAddForm" (ngSubmit)="submit()">
  <nb-card>
    <nb-card-header>Add new customer</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="firstName" class="label">First name</label>
            <input
              type="text"
              nbInput
              fullWidth
              id="firstName"
              placeholder="First name"
              formControlName="firstName"
              [status]="isValid('firstName') ? 'danger' : 'basic'"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="lastName" class="label">Last name</label>
            <input
              type="text"
              nbInput
              fullWidth
              id="lastName"
              placeholder="Last name"
              formControlName="lastName"
              [status]="isValid('lastName') ? 'danger' : 'basic'"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="email" class="label">Email</label>
            <input
              type="email"
              nbInput
              fullWidth
              id="email"
              placeholder="Email"
              formControlName="email"
              [status]="isValid('email') ? 'danger' : 'basic'"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="age" class="label">Age</label>
            <input
              id="age"
              fullWidth
              nbInput
              placeholder="Age"
              [nbDatepicker]="ageRef"
              formControlName="age"
              [status]="isValid('age') ? 'danger' : 'basic'"
            />
            <nb-datepicker #ageRef></nb-datepicker>
          </div>
        </div>
        <div class="col-6">
          <label for="telephone" class="label">Telephone</label>
          <nb-form-field>
            <nb-icon
              nbPrefix
              icon="phone-outline"
              [options]="{ animation: { type: 'pulse' } }"
            ></nb-icon>
            <input
              type="tel"
              nbInput
              fullWidth
              id="telephone"
              placeholder="Telephone"
              formControlName="telephone"
              [status]="isValid('telephone') ? 'danger' : 'basic'"
            />
          </nb-form-field>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="doctor" class="label">Doctor</label>
            <nb-select
              id="doctor"
              fullWidth
              placeholder="Doctor"
              formControlName="doctor"
              [status]="isValid('doctor') ? 'danger' : 'basic'"
            >
              <nb-option value="1">Doctor 1</nb-option>
              <nb-option value="2">Doctor 2</nb-option>
              <nb-option value="3">Doctor 3</nb-option>
              <nb-option value="4">Doctor 4</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="address" class="label">Address</label>
            <input
              type="text"
              nbInput
              fullWidth
              id="address"
              placeholder="Address"
              formControlName="address"
              [status]="isValid('address') ? 'danger' : 'basic'"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="clinic" class="label">Clinic</label>
            <nb-select
              id="clinic"
              fullWidth
              placeholder="Clinic"
              formControlName="clinic"
              [status]="isValid('clinic') ? 'danger' : 'basic'"
            >
              <nb-option value="1">Clinic 1</nb-option>
              <nb-option value="2">Clinic 2</nb-option>
              <nb-option value="3">Clinic 3</nb-option>
              <nb-option value="4">Clinic 4</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="location" class="label">Location</label>
            <nb-select
              id="location"
              fullWidth
              placeholder="Location"
              formControlName="location"
              [status]="isValid('location') ? 'danger' : 'basic'"
            >
              <nb-option value="1">Location 1</nb-option>
              <nb-option value="2">Location 2</nb-option>
              <nb-option value="3">Location 3</nb-option>
              <nb-option value="4">Location 4</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="contactNote" class="label">Where you find it?</label>
            <nb-select
              id="contactNote"
              fullWidth
              placeholder="Where you find it?"
              formControlName="contactNote"
              [status]="isValid('contactNote') ? 'danger' : 'basic'"
            >
              <nb-option value="1">Social Media 1</nb-option>
              <nb-option value="2">Social Media 2</nb-option>
              <nb-option value="3">Social Media 3</nb-option>
              <nb-option value="4">Social Media 4</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="appointment" class="label">Appointment</label>
            <input
              id="appointment"
              fullWidth
              nbInput
              placeholder="Appointment"
              [nbDatepicker]="appointmentRef"
              formControlName="appointment"
              [status]="isValid('appointment') ? 'danger' : 'basic'"
            />
            <nb-datepicker #appointmentRef></nb-datepicker>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="gender" class="label">Gender</label>
            <nb-radio-group
              id="gender"
              fullWidth
              formControlName="gender"
              [status]="isValid('gender') ? 'danger' : 'basic'"
            >
              <nb-radio value="male">male 1</nb-radio>
              <nb-radio value="female">female 2</nb-radio>
              <nb-radio value="transgender">transgender 3</nb-radio>
            </nb-radio-group>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex justify-content-end">
        <button
          class="mr-2"
          type="button"
          nbButton
          status="basic"
          (click)="cancel()"
        >
          Cancel
        </button>

        <button
          type="submit"
          nbButton
          hero
          status="primary"
          (click)="toggleLoadingLargeGroupAnimation()"
          [nbSpinner]="loadingLargeGroup"
          nbSpinnerStatus="success"
          nbSpinnerMessage=""
        >
          Save
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
