<ng-container *ngIf="{ loading: loading$ | async, selected } as data">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <nb-card>
      <nb-card-header>
        <div class="d-flex align-items-center">
          <ng-container *ngIf="data.selected; else titleAddTpl">
            <nb-icon
              class="skip me-2"
              icon="edit-2-outline"
              pack="eva"
              status="primary"
              [options]="{ animation: { type: 'pulse' } }"
            ></nb-icon>
            Edit
          </ng-container>
          <ng-template #titleAddTpl>
            <nb-icon
              class="skip me-2"
              icon="plus-circle-outline"
              pack="eva"
              status="primary"
              [options]="{ animation: { type: 'pulse' } }"
            ></nb-icon>
            Add new
          </ng-template>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="firstName" class="label">First name</label>
              <input
                type="text"
                nbInput
                fullWidth
                id="firstName"
                placeholder="First name"
                formControlName="firstName"
                [status]="isValid(firstNameControl) ? 'danger' : 'basic'"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="lastName" class="label">Last name</label>
              <input
                type="text"
                nbInput
                fullWidth
                id="lastName"
                placeholder="Last name"
                formControlName="lastName"
                [status]="isValid(lastNameControl) ? 'danger' : 'basic'"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="email" class="label">Email</label>
              <input
                type="email"
                nbInput
                fullWidth
                id="email"
                placeholder="Email"
                formControlName="email"
                [status]="isValid(emailControl) ? 'danger' : 'basic'"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="dateOfBirth" class="label">Date of birth</label>
              <input
                id="dateOfBirth"
                fullWidth
                nbInput
                placeholder="Date of birth"
                [nbDatepicker]="dateOfBirthRef"
                formControlName="dateOfBirth"
                [status]="isValid(dateOfBirthControl) ? 'danger' : 'basic'"
              />
              <nb-datepicker #dateOfBirthRef></nb-datepicker>
            </div>
          </div>
          <div class="col-6">
            <label for="phoneNumber" class="label">Phone number</label>
            <nb-form-field>
              <nb-icon
                nbPrefix
                icon="phone-outline"
                [options]="{ animation: { type: 'pulse' } }"
              ></nb-icon>
              <input
                type="tel"
                nbInput
                fullWidth
                id="phoneNumber"
                placeholder="Phone number"
                formControlName="phoneNumber"
                [status]="isValid(phoneNumberControl) ? 'danger' : 'basic'"
              />
            </nb-form-field>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="doctorId" class="label">Doctor</label>
              <nb-select
                id="doctorId"
                fullWidth
                placeholder="Doctor"
                formControlName="doctorId"
                [status]="isValid(doctorIdControl) ? 'danger' : 'basic'"
              >
                <nb-option
                  *ngFor="let item of doctors$ | async"
                  [value]="item.id"
                  >{{ item.name }}</nb-option
                >
              </nb-select>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="address" class="label">Address</label>
              <input
                type="text"
                nbInput
                fullWidth
                id="address"
                placeholder="Address"
                formControlName="address"
                [status]="isValid(addressControl) ? 'danger' : 'basic'"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="taxCode" class="label">Tax code</label>
              <input
                type="text"
                nbInput
                fullWidth
                id="taxCode"
                placeholder="Tax code"
                formControlName="taxCode"
                [status]="isValid(taxCodeControl) ? 'danger' : 'basic'"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="clinicId" class="label">Clinic</label>
              <nb-select
                id="clinicId"
                fullWidth
                placeholder="Clinic"
                formControlName="clinicId"
                [status]="isValid(clinicIdControl) ? 'danger' : 'basic'"
              >
                <nb-option
                  *ngFor="let item of clinics$ | async"
                  [value]="item.id"
                  >{{ item.name }}</nb-option
                >
              </nb-select>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="contactNote" class="label">Where you find it?</label>
              <nb-select
                id="contactNote"
                fullWidth
                placeholder="Where you find it?"
                formControlName="contactNote"
                [status]="isValid(contactNoteControl) ? 'danger' : 'basic'"
              >
                <nb-option
                  *ngFor="let item of customerContactNoteType$ | async"
                  [value]="item"
                  >{{ item }}</nb-option
                >
              </nb-select>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="comment" class="label">Note</label>

              <textarea
                nbInput
                fullWidth
                id="comment"
                placeholder="Note"
                formControlName="comment"
                [status]="isValid(commentControl) ? 'danger' : 'basic'"
              ></textarea>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="gender" class="label">Gender</label>
              <nb-radio-group
                id="gender"
                fullWidth
                formControlName="gender"
                [status]="isValid(genderControl) ? 'danger' : 'basic'"
              >
                <nb-radio *ngFor="let item of gender$ | async" [value]="item">{{
                  item
                }}</nb-radio>
              </nb-radio-group>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="d-flex justify-content-end">
          <button
            class="me-2"
            type="button"
            nbButton
            status="basic"
            (click)="close()"
          >
            Cancel
          </button>

          <button
            type="submit"
            nbButton
            hero
            status="primary"
            [nbSpinner]="data.loading!"
            nbSpinnerStatus="success"
            nbSpinnerMessage=""
          >
            Save
          </button>
        </div>
      </nb-card-footer>
    </nb-card>
  </form>
</ng-container>
