<nb-actions size="medium">
  @if (selectedRows.length === 1) {
    <nb-action
      [nbTooltip]="'Edit'"
      nbTooltipPlacement="top"
      [icon]="'edit-2-outline'"
      [disabled]="loading()"
      (click)="handleEditAction.emit(true)"
    ></nb-action>
  } @else {
    <nb-action
      [nbTooltip]="'Add'"
      nbTooltipPlacement="top"
      [icon]="'plus-circle-outline'"
      [disabled]="loading()"
      (click)="handleAddAction.emit(true)"
    ></nb-action>
  }
  <nb-action
    [nbTooltip]="selectedRows.length === 0 ? 'Please select an item' : 'Remove'"
    nbTooltipPlacement="top"
    icon="trash-2-outline"
    [badgeText]="selectedRows.length.toString()"
    badgeStatus="danger"
    [disabled]="selectedRows.length === 0 || loading()"
    (click)="onRemove()"
  >
  </nb-action>
  <nb-action
    [nbTooltip]="'Reload data'"
    icon="refresh-outline"
    nbTooltipPlacement="top"
    (click)="handleReloadAction.emit(true)"
  ></nb-action>
  @if (showAction.showProcess) {
    <nb-action
      [nbTooltip]="'Processes'"
      nbTooltipPlacement="top"
      [icon]="'activity-outline'"
      [disabled]="selectedRows.length !== 1 || loading()"
      (click)="onProcess()"
    ></nb-action>
  }
  @if (showAction.showOrder) {
    <nb-action
      [nbTooltip]="'Go to order'"
      nbTooltipPlacement="top"
      [icon]="'shopping-cart-outline'"
      [disabled]="
        selectedRows.length !== 1 ||
        selectedRows[0]?.status !== processStatusTypeTpl.open ||
        loading()
      "
      (click)="onOrder()"
    ></nb-action>
  }
  @if (showAction.showEndProcess) {
    <nb-action
      [nbTooltip]="'End process'"
      nbTooltipPlacement="top"
      [icon]="'slash-outline'"
      [disabled]="
        selectedRows.length !== 1 ||
        selectedRows[0]?.status !== processStatusTypeTpl.open ||
        loading()
      "
      (click)="onEndProcess()"
    ></nb-action>
  }
</nb-actions>
