<nb-actions size="medium">
  @if (selectedRows.length === 1;) {
  <nb-action
    [nbTooltip]="'Edit'"
    nbTooltipPlacement="top"
    [icon]="'edit-2-outline'"
    (click)="handleEditAction.emit(true)"
  ></nb-action>
  } @else{
  <nb-action
    [nbTooltip]="'Add'"
    nbTooltipPlacement="top"
    [icon]="'plus-circle-outline'"
    (click)="handleAddAction.emit(true)"
  ></nb-action>
  }
  <nb-action
    [nbTooltip]="selectedRows.length === 0 ? 'Please select an item' : 'Remove'"
    nbTooltipPlacement="top"
    icon="trash-2-outline"
    [badgeText]="selectedRows.length.toString()"
    badgeStatus="warning"
    [disabled]="selectedRows.length === 0"
    (click)="handleRemoveAction.emit(true)"
  >
  </nb-action>
  <nb-action
    [nbTooltip]="'Reload data'"
    icon="refresh-outline"
    nbTooltipPlacement="top"
    (click)="handleReloadAction.emit(true)"
  ></nb-action>
  @if (showAction.showSettings) {
  <nb-action
    [nbTooltip]="'Settings'"
    nbTooltipPlacement="top"
    icon="settings-2-outline"
    (click)="handleSettingsAction.emit(true)"
  ></nb-action
  >} @if (showAction.showProcess) {
  <nb-action
    [nbTooltip]="'Processes'"
    nbTooltipPlacement="top"
    [icon]="'activity-outline'"
    [disabled]="selectedRows.length !== 1"
    (click)="handlePulseAction.emit(true)"
  ></nb-action>
  } @if (showAction.showOrder) {<nb-action
    [nbTooltip]="'Go to order'"
    nbTooltipPlacement="top"
    [icon]="'shopping-cart-outline'"
    [disabled]="selectedRows.length !== 1"
    (click)="handleOrderAction.emit(true)"
  ></nb-action>
  }
</nb-actions>
