<div class="row">
  <div class="col-3">
    <nb-card size="tiny" class="h-auto">
      <nb-card-body>
        <div class="row align-items-center">
          <div class="col">
            <div class="chart-info">
              <div [style.color]="selectedSection().color">
                {{ selectedSection().name }}
              </div>
              <div class="time-period caption">Last week:</div>
              <div class="h6">{{ selectedSection().value }}%</div>
            </div>
          </div>
          <div class="col">
            <div
              echarts
              [loading]="loading()"
              [style.height.px]="100"
              class="echart"
              [options]="options()"
              (chartInit)="onChartInit($event)"
              (chartClick)="onChartClick($event)"
            ></div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-3">
    <nb-card size="tiny" class="h-auto">
      <nb-card-body>
        <div class="row align-items-center">
          <div class="col">
            <div class="chart-info">
              <div [style.color]="selectedSection().color">
                {{ selectedSection().name }}
              </div>
              <div class="time-period caption">Last week:</div>
              <div class="h6">{{ selectedSection().value }}%</div>
            </div>
          </div>
          <div class="col">
            <div
              echarts
              [loading]="loading()"
              [style.height.px]="100"
              class="echart"
              [options]="options()"
              (chartInit)="onChartInit($event)"
              (chartClick)="onChartClick($event)"
            ></div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-3">
    <nb-card size="tiny" class="h-auto">
      <nb-card-body>
        <div class="row align-items-center">
          <div class="col">
            <div class="chart-info">
              <div [style.color]="selectedSection().color">
                {{ selectedSection().name }}
              </div>
              <div class="time-period caption">Last week:</div>
              <div class="h6">{{ selectedSection().value }}%</div>
            </div>
          </div>
          <div class="col">
            <div
              echarts
              [loading]="loading()"
              [style.height.px]="100"
              class="echart"
              [options]="options()"
              (chartInit)="onChartInit($event)"
              (chartClick)="onChartClick($event)"
            ></div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-3">
    <nb-card size="tiny" class="h-auto">
      <nb-card-body>
        <div class="row align-items-center">
          <div class="col">
            <div class="chart-info">
              <div [style.color]="selectedSection().color">
                {{ selectedSection().name }}
              </div>
              <div class="time-period caption">Last week:</div>
              <div class="h6">{{ selectedSection().value }}%</div>
            </div>
          </div>
          <div class="col">
            <div
              echarts
              [loading]="loading()"
              [style.height.px]="100"
              class="echart"
              [options]="options()"
              (chartInit)="onChartInit($event)"
              (chartClick)="onChartClick($event)"
            ></div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
