@if (entities$ | async) {
  <nb-card>
    <nb-card-header>
      <app-custom-actions
        [loading]="loading()"
        [selectedRows]="selectedRows"
        (handleAddAction)="addDialog()"
        (handlePulseAction)="view()"
        (handleOrderAction)="goToOrder()"
        (handleEditAction)="editDialog()"
        (handleReloadAction)="refresh()"
        (handleOnEndProcess)="onEndProcess()"
        (handleRemoveAction)="openRemoveDialog(selectedRows[0].id)"
        [showAction]="showAction"
      />
    </nb-card-header>

    <nb-card-body
      accent="danger"
      size="tiny"
      [nbSpinner]="loading()"
      nbSpinnerStatus="danger"
      nbSpinnerSize="large"
      nbSpinnerMessage=""
    >
      <ng2-smart-table
        [source]="source"
        [settings]="settings"
        (rowSelect)="handleSelectedRow($event)"
      >
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
}
