@if (showCharts()) {
  <ng-content select="[message]"></ng-content>

  <div class="row">
    <div class="col-4">
      <nb-card size="tiny" class="h-auto">
        <nb-card-body>
          <div class="row align-items-center">
            <div class="col">
              <div class="chart-info">
                <strong class="text-primary">{{
                  selectedCustomerByStatus().name
                }}</strong>

                <div class="time-period caption">
                  Nb. of {{ this.entity() }}:
                </div>
                <h2 class="text-primary">
                  <strong>{{ selectedCustomerByStatus().value }}</strong>
                </h2>
              </div>
            </div>
            <div class="col">
              <app-pie-chart-wrapper
                [values]="(customersByStatus$ | async)!"
                [loading]="loading()"
                (selectedSection)="handleSelectedSectionByStatus($event)"
              />
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-4">
      <nb-card size="tiny" class="h-auto">
        <nb-card-body>
          <div class="row align-items-center">
            <div class="col">
              <div class="chart-info">
                <strong class="text-primary">{{
                  selectedSectionByContactNote().name
                }}</strong>

                <div class="time-period caption">
                  Nb. of {{ this.entity() }}:
                </div>
                <h2 class="text-primary">
                  <strong>{{ selectedSectionByContactNote().value }}</strong>
                </h2>
              </div>
            </div>
            <div class="col">
              <app-pie-chart-wrapper
                [values]="(customerByContactNote$ | async)!"
                [loading]="loading()"
                (selectedSection)="handleSelectedSectionByContactNote($event)"
              />
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-4">
      <nb-card size="tiny" class="h-auto">
        <nb-card-body>
          <div class="row align-items-center">
            <div class="col">
              <div class="chart-info">
                <strong class="text-primary">{{
                  selectedSectionByGender().name
                }}</strong>

                <div class="time-period caption">
                  Nb. of {{ this.entity() }}:
                </div>
                <h2 class="text-primary">
                  <strong>{{ selectedSectionByGender().value }}</strong>
                </h2>
              </div>
            </div>
            <div class="col">
              <app-pie-chart-wrapper
                [values]="(customerByGender$ | async)!"
                [loading]="loading()"
                (selectedSection)="handleSelectedSectionByGender($event)"
              />
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
}

@if (entities$ | async) {
  <nb-card>
    <nb-card-header>
      <app-custom-actions
        [loading]="loading()"
        [selectedRows]="selectedRows"
        (handleAddAction)="addDialog()"
        (handlePulseAction)="view()"
        (handleOrderAction)="goToOrder()"
        (handleEditAction)="editDialog()"
        (handleReloadAction)="refresh()"
        (handleOnEndProcess)="onEndProcess()"
        (handleRemoveAction)="openRemoveDialog(selectedRows[0].id)"
        [showAction]="showAction"
      />
    </nb-card-header>

    <nb-card-body
      accent="danger"
      size="tiny"
      [nbSpinner]="loading()"
      nbSpinnerStatus="danger"
      nbSpinnerSize="large"
      nbSpinnerMessage=""
    >
      <ng2-smart-table
        [source]="source"
        [settings]="settings"
        (rowSelect)="handleSelectedRow($event)"
      >
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
}
