<ng-container *ngIf="{ loading: loading$ | async, selected } as data">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <nb-card>
      <nb-card-header>
        <div class="d-flex align-items-center">
          <ng-container *ngIf="data.selected; else titleAddTpl">
            <nb-icon
              class="skip me-2"
              icon="edit-2-outline"
              pack="eva"
              status="primary"
              [options]="{ animation: { type: 'pulse' } }"
            ></nb-icon>
            Edit end process reason
          </ng-container>
          <ng-template #titleAddTpl>
            <nb-icon
              class="skip me-2"
              icon="plus-circle-outline"
              pack="eva"
              status="primary"
              [options]="{ animation: { type: 'pulse' } }"
            ></nb-icon>
            End process reason
          </ng-template>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="reason" class="label">Reason</label>
              <textarea
                nbInput
                fullWidth
                id="reason"
                placeholder="Reason"
                formControlName="reason"
                [status]="isValid(reasonControl) ? 'danger' : 'basic'"
              ></textarea>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="d-flex justify-content-end">
          <button
            class="me-2"
            type="button"
            nbButton
            status="basic"
            (click)="close()"
          >
            Cancel
          </button>

          <button
            type="submit"
            nbButton
            hero
            status="primary"
            [nbSpinner]="data.loading!"
            nbSpinnerStatus="success"
            nbSpinnerMessage=""
          >
            Save
          </button>
        </div>
      </nb-card-footer>
    </nb-card>
  </form>
</ng-container>
