<nb-layout>
  <nb-layout-header fixed><app-header /></nb-layout-header>
  <nb-layout-header subheader>
    <h5 class="text-hint">
      <strong
        >{{ subheaderInformation()?.title }}
        @if (subheaderInformation()?.value) {
          {{ subheaderInformation()?.value }}
        }
      </strong>
    </h5>
  </nb-layout-header>
  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet />
  </nb-layout-column>

  <nb-layout-footer fixed> footer </nb-layout-footer>
</nb-layout>
