<nb-layout windowMode>
  <nb-layout-header fixed><app-header /></nb-layout-header>
  <nb-layout-header subheader>
    <nb-actions>
      @if (subheaderInformation()?.showHome) {
        <nb-action icon="home-outline" (click)="goToHome()"></nb-action>
      }
      <nb-action>
        <strong class="fs-16 text-hint text-uppercase">
          {{ subheaderInformation()?.title }}
          @if (subheaderInformation()?.value) {
            {{ subheaderInformation()?.value }}
          }
        </strong>
      </nb-action>
    </nb-actions>
  </nb-layout-header>
  <nb-sidebar class="menu-sidebar" tag="left" responsive>
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet />
  </nb-layout-column>

  <nb-layout-footer fixed> Made by 3 guys </nb-layout-footer>
</nb-layout>
