<nb-card class="actions-card">
  <nb-card-header>Actions</nb-card-header>
  <nb-card-body>
    <nb-actions size="medium">
      <nb-action
        [nbTooltip]="
          selectedRows.length === 1 ? 'Edit a customer' : 'Add a customer'
        "
        nbTooltipPlacement="top"
        [icon]="
          selectedRows.length === 1 ? 'edit-2-outline' : 'plus-circle-outline'
        "
        (click)="addDialog()"
      ></nb-action>
      <nb-action
        [nbTooltip]="
          selectedRows.length === 0
            ? 'Please select a customer'
            : 'Remove customers'
        "
        nbTooltipPlacement="top"
        icon="trash-2-outline"
        [badgeText]="selectedRows.length"
        badgeStatus="warning"
        [disabled]="selectedRows.length === 0"
        (click)="removeDialog()"
      >
      </nb-action>
      <nb-action
        [disabled]="selectedRows.length === 0"
        [nbTooltip]="
          selectedRows.length === 0
            ? 'Please select a customer'
            : 'View customer'
        "
        nbTooltipPlacement="top"
        icon="eye-outline"
        (click)="view()"
      ></nb-action>
      <nb-action icon="refresh-outline" (click)="reload()"></nb-action>
      <nb-action
        icon="settings-2-outline"
        (click)="settingsDialog()"
      ></nb-action>
    </nb-actions>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    <div class="row align-items-center">
      <div class="col-8">
        <span *ngIf="selectedRows.length; else allRows">
          {{ selectedRows.length }} selected customers
        </span>
        <ng-template #allRows>{{ source.count() }} Customers</ng-template>
      </div>
      <div class="col-4"></div>
    </div>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (rowSelect)="handleSelectedRow($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
