<ng-container *ngIf="{ loading: loading$ | async, employee: selected } as data"
  ><form [formGroup]="form" (ngSubmit)="submit()">
    <nb-card>
      <nb-card-header>
        <div class="d-flex align-items-center">
          <ng-container *ngIf="data.employee; else titleAddEmployeeTpl">
            <nb-icon
              class="skip me-2"
              icon="edit-2-outline"
              pack="eva"
              status="primary"
              [options]="{ animation: { type: 'pulse' } }"
            ></nb-icon>
            Edit employee
          </ng-container>
          <ng-template #titleAddEmployeeTpl>
            <nb-icon
              class="skip me-2"
              icon="plus-circle-outline"
              pack="eva"
              status="primary"
              [options]="{ animation: { type: 'pulse' } }"
            ></nb-icon>
            Add new employee
          </ng-template>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="firstName" class="label">First name</label>
              <input
                type="text"
                nbInput
                fullWidth
                id="firstName"
                placeholder="First name"
                formControlName="firstName"
                [status]="isValid(firstNameControl) ? 'danger' : 'basic'"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="lastName" class="label">Last name</label>
              <input
                type="text"
                nbInput
                fullWidth
                id="lastName"
                placeholder="Last name"
                formControlName="lastName"
                [status]="isValid(lastNameControl) ? 'danger' : 'basic'"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="email" class="label">Email</label>
              <input
                type="text"
                nbInput
                fullWidth
                id="email"
                placeholder="Email"
                formControlName="email"
                [status]="isValid(emailControl) ? 'danger' : 'basic'"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="role" class="label">Role</label>
              <nb-select
                id="role"
                fullWidth
                placeholder="Role"
                formControlName="role"
                [status]="isValid(roleControl) ? 'danger' : 'basic'"
              >
                <nb-option [value]="roleTpl.admin">{{
                  roleTpl.admin
                }}</nb-option>
                <nb-option [value]="roleTpl.user">{{ roleTpl.user }}</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="gender" class="label">Gender</label>
              <nb-radio-group
                id="gender"
                fullWidth
                formControlName="gender"
                [status]="isValid(genderControl) ? 'danger' : 'basic'"
              >
                <nb-radio [value]="genderTpl.male">Male</nb-radio>
                <nb-radio [value]="genderTpl.female">Female</nb-radio>
              </nb-radio-group>
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="d-flex justify-content-end">
          <button
            class="me-2"
            type="button"
            nbButton
            status="basic"
            (click)="close(false)"
          >
            Cancel
          </button>

          <button
            type="submit"
            nbButton
            hero
            status="primary"
            [nbSpinner]="data.loading!"
            nbSpinnerStatus="success"
            nbSpinnerMessage=""
          >
            Save
          </button>
        </div>
      </nb-card-footer>
    </nb-card>
  </form>
</ng-container>
